<h3>Your Cart</h3>
<div class="cart-product" *ngFor="let product of products">
  <h3><span>{{ product.artist }}</span></h3>
  <h5><span>{{ product.title }}</span></h5>
  <em><span>{{ product.description }}</span></em>
  <p><span>{{ product.price}}</span></p>
  <hr>
</div>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label>Name</label>
    <input type="text" formControlName="name">
  </div>
  <div>
    <label>Address</label>
    <input type="text" formControlName="address">
  </div>
  <button class="button" type="submit">Purchase</button>
</form>