<br>
<button (click)="showAddForm()">Add Product</button>
<button (click)="showEditForm()">Edit Products</button>
<br>
<br>
<div *ngIf="showAddFormTrue" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Product to Inventory</h3>
  </div>
  <div class="panel-body">

    <div>
      <label>Product Title:</label>
      <br>
      <input #newTitle>
    </div>

    <div>
      <label>Product Artist:</label>
      <br>
      <input #newArtist>
    </div>

    <div>
      <label>Product Description:</label>
      <br>
      <textarea #newDescription></textarea>
    </div>

    <div>
      <label>Product Category:</label>
      <br>
      <input #newCategory>
    </div>
    <div>
      <label>Product Price:</label>
      <br>
      <input #newPrice>
    </div>
    <br>
    <button
      (click)="submitForm(newTitle.value, newArtist.value, newDescription.value, newCategory.value, newPrice.value); newTitle.value=''; newArtist.value=''; newDescription.value=''; newCategory.value=''; newPrice.value=''">Add</button>

  </div>
</div>

<div *ngIf="showEditFormTrue">
  <app-marketplace></app-marketplace>
</div>
