<h4>Edit Product</h4>

<label>New Title:</label>
<input [(ngModel)]="selectedProduct.title">
<br>

<label>New Artist:</label>
<input [(ngModel)]="selectedProduct.artist">
<br>

<label>New Description:</label>
<input [(ngModel)]="selectedProduct.description">
<br>

<label>New Category:</label>
<input [(ngModel)]="selectedProduct.category">
<br> 

<label>New Price:</label>
<input [(ngModel)]="selectedProduct.price"> 
<br>

<label>New Image:</label>
<input [(ngModel)]="selectedProduct.image">
<hr>
<button (click)="beginUpdatingProduct(selectedProduct)">Update</button>
<button (click)="beginDeletingProduct(selectedProduct)">Delete</button>