  <h2>Shop</h2>
  <select (change)="onSelect($event.target.value)">
    <option value="allProducts" selected="selected">All</option>
    <option value="Music">Music</option>
    <option value="Clothing">Clothing</option>
    <option value="Accessories">Accessories</option>
  </select>
  <br>
  <br>
  <div *ngFor="let product of products | async | filters:filterByCategory" class="panel panel-default">
    <div class="panel-body">
      <h3 (click)="goToDetailPage(product)"><em>{{product.title}}</em> by {{product.artist}}</h3>
      <div *ngIf="currentRoute === '/admin'">
        <p>{{product.description}}</p>
        <p>{{product.category}}</p>
        <p>${{product.price}}</p>
        <hr>
        <app-edit-product [selectedProduct]="product"></app-edit-product>
      </div>
    </div>
  </div>


